#container {
    text-align: center;
}

#picture {
    border: 1px solid #000000;
    background: azure;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    border-radius: 36px;
    cursor: inherit;
    display: block;
    font-size: 30px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    height: 100px;
}

.camera {
    background: bisque;
    height: 10000px;
    background: bisque;
    background-image: url("../img/camera.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}